[Interface]
Address = {{ wg_local_address }}
{% if wg_post_up is defined %}
PostUp = {{ wg_post_up }}
{% endif %}
{% if wg_post_down is defined %}
PostDown = {{ wg_post_down }}
{% endif %}
PrivateKey = {{ wg_private_key }}
ListenPort = {{ wg_listen_port }}

{% for peer in wg_peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.keep_alive is defined %}
PersistentKeepalive = {{ peer.keep_alive }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% endfor %}